body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: rgb(38, 118, 58);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.collapsible {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  font-size: 16px;
}

.collapsible.active {
  background-color: #ddd;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}

.columns {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}
.option-button {
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #0056b3;
}